<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container fondo">
        <h1 id="galeria">Reservá tu cita</h1>
        <h2 id="galeria">Hola <%= user %>, segui los pasos para reservar tu cita.</h2>
        <p id="usuario"> <%= user %> </p>
        <p id="email"> <%= email %> </p>
        <form method="post" action="/reservacompleta">
            <article class="root">
                <section class="calendar" id="calendar">
                </section>
                <section class="calendar none" id="none">
                    <p>Paso 2: Elegí la hora</p>
                    <dinput class="grid_body-hs" id="grid_body">
                        <input type="button" value="10:00" id="span1" class="grid_cell grid_cell--gd-hs" onclick="hsSelected('1')"></input>
                        <input type="button" value="10:30" id="span2"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('2')"></input>
                        <input type="button" value="11:00" id="span3"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('3')"></input>
                        <input type="button" value="11:30" id="span4"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('4')"></input>
                        <input type="button" value="12:00" id="span5"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('5')"></input>
                        <input type="button" value="12:30" id="span6"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('6')"></input>
                        <input type="button" value="13:00" id="span7"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('7')"></input>
                        <input type="button" value="13:30" id="span8"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('8')"></input>
                        <input type="button" value="14:00" id="span9"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('9')"></input>
                        <input type="button" value="14:30" id="span10"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('10')"></input>
                        <input type="button" value="15:00" id="span11"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('11')"></input>
                        <input type="button" value="15:30" id="span12"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('12')"></input>
                        <input type="button" value="16:00" id="span13"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('13')"></input>
                        <input type="button" value="16:30" id="span14"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('14')"></input>
                        <input type="button" value="17:00" id="span15"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('15')"></input>
                        <input type="button" value="17:30" id="span16"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('16')"></input>
                        <input type="button" value="18:00" id="span17"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('17')"></input>
                        <input type="button" value="18:30" id="span18"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('18')"></input>
                        <input type="button" value="19:00" id="span19"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('19')"></input>
                        <input type="button" value="19:30" id="span20"class="grid_cell grid_cell--gd-hs" onclick="hsSelected('20')"></input>
                    </div>
                </section>
            </article>
        </main>
        <div class="ocultos">
            <input type="text" id="user" name="user" class="oculto">
            <input type="email" id="mail" name="email" class="oculto">
            <input type="text" name="dia" id="dia" class="oculto">
            <input type="text" name="hora" id="hora" class="oculto">
        </div>
        <input type="submit"  value="Confirmar reserva" class="boton"></input>
    </form>
    <div class="linea"></div>
    <%- include('../partials/footer') %>
    <script src="js/horarios.js"></script>
    <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>
    <script src="js/calendario.js"></script>
    <script type="text/javascript">
        let calendar = new Calendar('calendar');
        calendar.getElement().addEventListener('change', e => {
            document.getElementById('none').classList.remove('none');
            console.log(calendar.value().format('LLL'));
        });
    </script>
</body>
</html>